.bg-black {
  color:http://localhost:3000/ white;
  background: black;
}

header {
  img {
    margin-top: 20px;
  }
  
  .port-item {
    width: 30%;

    .fa {
      font-size: 2em;
    }
  }

  .port-item:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}