.bg-black {
  color: white;
  background: black;
}

header {
  img {
    width: 100%;
    height: 100%;
  }
  
  .port-item {
    width: 30%;

    .fa {
      font-size: 2em;
    }
  }

  .port-item:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  
  .caption {
    color: white;
    opacity: 0;
    display: block;
    background: darkgreen;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;

    .caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .project-category {
        font-size: 14px;
        font-weight: 600;
      }

      .project-name {
        font-size: 18px;

      }

      .project-name, project-category {
        padding: 0 15px;
      }
    }
  }
}

.portfolio-box:hover .caption {
  opacity: 1;
}

.myAlert {
  display: none;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}